{*  $Id: websitefee_admin_view.htm,v 1.14 2006/12/16 10:16:13 Tiomthy Paustian Exp $  *}
{include file="websitefee_admin_main.htm"}
<form class="pn-adminform" action="{modurl modname='WebsiteFee' type='admin' func='deletechecked'}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" value="delete" name="del_function" />
    <input type="hidden" value="{modurl modname='WebsiteFee' type='admin' func='view'}" name="redirect_url" />

    <table class="pn-admintable">
        <tr>
            <th>{gt text="Delete Item"}</th>
            <th>{gt text="User Name"}</th>
            <th>{gt text="Transacion ID"}</th>
            <th>{gt text="Subscription Type"}</th>
            <th>{gt text="Payer Email"}</th>
            <th>{gt text="Payment Date"}</th>
        </tr>
        {section name="i" loop=$transactions}
        <tr class="{cycle values=pn-odd,pn-even}">
            <td><input type="checkbox" name="ids[]" value="{$transactions[i].id}" /> </td>
            <td>{$transactions[i].user_name}</td>
            <td>{$transactions[i].txn_id}</td>
            <td>{$transactions[i].subscr_type}</td>
            <td>{$transactions[i].payer_email}</td>
            <td>{$transactions[i].payment_date}</td>

        </tr>
        {/section}
    </table>
    <p>{pnbutton src=edit_remove.gif set=icons/small alt="Delete Checked" title="Delete Checked" value="delete_checked"}{gt text="Delete Checked Items"}</p>
</form>