<img src="http://www.microbiologytext/images/banner.gif">
<h2>Welcome</h2>
<p>Dear {$u_name}</p>
<p>Thank you for purchasing <i>{$book_name}</i>. We hope it helps you in your studies.
Just as a reminder, this is not a regular textbook; take advantage of all the features it has
to offer. Here are just a few examples to help you get started</p>
<ul>
    <li>The built in glossary will help you with unfamiliar words. These words will have a different colored background and appear as a hyper link. If you hover over the
    link, you will see a popup definition of the word.</li>
    <li>The <a href="index.php?module=search">search</a> function can help you find information you are looking for. Click on the search link in the banner at the top of the page.</li>
    <li>You can highlight text in the textbook. If you find a passage that you really want to remember, select it and then choose toggle highlight. This will put a yellow highlight on it, just like a highlighting pen. Later, when you want to review, just choose collect highlights (and the chapters that you want to remember) and there will be all the text you highlighted in the book.</li>
</ul>
<p>If you have questions, or are confused about anything, don't hesitate to use the <a href="">contact form</a> and thanks again for purchasing the text.</p>

<p>Sincerely</p>
<p>Gary Roberts and Timothy Paustian</p>
