{*  $Id: example_admin_main.htm,v 1.3 2004/12/14 10:57:37 markwest Exp $  *}
{include file="websitefee_admin_menu.htm"}
<h2>{gt text='WebSiteFee Administration'}</h2>
<p>{gt text='Create the groups and the subscription data for each item users can subscribe to.'}</p>
<p>
<a href="{modurl modname=WebsiteFee type=admin func=view}" title="{gt text='Transactions'}">{gt text='Transactions'}</a><br />
<a href="{modurl modname=WebsiteFee type=admin func=errors}" title="{gt text='Errors'}">{gt text='Errors'}</a><br />
<a href="{modurl modname=WebsiteFee type=admin func=newsubscr}" title="{gt text='New Subscription'}">{gt text='Create a New Subscription'}</a><br />
<a href="{modurl modname=WebsiteFee type=admin func=viewsubs}" title="{gt text='Current Subscriptions'}">{gt text='Current Subscriptions'}</a>

</p>
