{*  $Id: websitefee_admin_newsub.htm,v 1.14 2006/12/16 10:16:13 Tiomthy Paustian Exp $  *}
{include file="websitefee_admin_main.htm"}
<form class="pn-adminform" action="{modurl modname="WebsiteFee" type="admin" func="createsubs"}" method="post" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="authid" value="{pnsecgenauthkey module='WebsiteFee'}" />

       <table class="pn-admintable">
        <tr>
            <th>{gt text="Field Name"}</th>
            <th>{gt text="Field Value"}</th>
        </tr>
        <tr>
            <td>{gt text="Item Name"}</td><td><input type="text" size="50" maxlength="255" name="item_name" value="Through the Microscope" /></td>
        </tr>
        <tr>
            <td>{gt text="Item number"}</td><td><input type="text" size="50" maxlength="255" name="item" value="101"/></td>
        </tr>
        <tr>
            <td>{gt text="Subscription cost"}</td><td><input type="text" size="6" maxlength="6" name="payment_amount" value="100.00"/></td>
        </tr>
        <tr>
            <td>{gt text="Seller Email"}</td><td><input type="text" size="50" maxlength="255" name="seller_email" value="paypal@email.com"/></td>
        </tr>
        <tr>
            <td>{gt text="Group ID to add subscriber to"}</td><td><input type="text" size="6" maxlength="6" name="group_id" value="3"/></td>
        </tr>
    </table>
    <input type="Submit" /><input type="Reset" />
</form>