{{ pageSetVar('title', 'Index page of the WebsiteFee Module') }}
<div class="container-fluid">
    <h3>
        {{ __("The WebsiteFee Module") }}  
    </h3>
    <p>There is no user interface to the WebsiteFee Module.</p>
</div>
