{{ pageSetVar('title', 'Index page of the WebsiteFeeModule Module') }}
<div class="container-fluid">
    <h3>
        {{ "The WebsiteFeeModule Module" | trans }}
    </h3>
    <p>There is no user interface to the WebsiteFee Module.</p>
</div>
