{{ pageSetVar('title', 'Test data for posting') }}
<div class="container-fluid">
    <h3>
        {{ __("The WebsiteFee Test Data") }}  
    </h3>
    <form action="{{ path('paustianwebsitefeemodule_subscribe_subscribepaypal') }}" method="POST">
            <input type="hidden" name="mc_gross" value="30.00" /> 
            <input type="hidden" name="protection_eligibility" value="Eligible" />
            <input type="hidden" name="address_status" value="confirmed" />
            <input type="hidden" name="payer_id" value="LPLWNMTBWMFAY" />
            <input type="hidden" name="address_street" value="1+Main+St" />
            <input type="hidden" name="payment_date" value="20%3A12%3A59+Jan+13%2C+2009+PST" />
            <input type="hidden" name="payment_status" value="Completed" />
            <input type="hidden" name="charset" value="windows-1252" />
            <input type="hidden" name="address_zip" value="95131" />
            <input type="hidden" name="first_name" value="Test" />
            <input type="hidden" name="mc_fee" value="0.88" />
            <input type="hidden" name="address_country_code" value="US" />
            <input type="hidden" name="address_name" value="Test+User" />
            <input type="hidden" name="notify_version" value="2.6" />
            <input type="hidden" name="payer_status" value="verified" />
            <input type="hidden" name="address_country" value="United+States" />
            <input type="hidden" name="address_city" value="San+Jose" />
            <input type="hidden" name="quantity" value="1" />
            <input type="hidden" name="verify_sign" value="AtkOfCXbDm2hu0ZELryHFjY-Vb7PAUvS6nMXgysbElEn9v-1XcmSoGtf" />
            <input type="hidden" name="payer_email" value="gpmac_1231902590_per%40paypal.com" />
            <input type="hidden" name="txn_id" value="61G7JH711754525318" />
            <input type="hidden" name="payment_type" value="instant" />
            <input type="hidden" name="last_name" value="User" />
            <input type="hidden" name="address_state" value="CA" />
            <input type="hidden" name="receiver_email" value="tdpaust%40chorus.net" />
            <input type="hidden" name="payment_fee" value="0.88" />
            <input type="hidden" name="receiver_id" value="S8XGHLYDW9T3S" />
            <!-- here is the one you change to test different types -->
            <input type="hidden" name="txn_type" value="subscr_cancel" />
            <!--<input type="hidden" name="txn_type" value="subscr_payment" />-->
            <input type="hidden" name="mc_currency" value="USD" />
            <input type="hidden" name="item_number" value="11001" />
            <input type="hidden" name="residence_country" value="US" />
            <input type="hidden" name="test_ipn" value="1" />
            <input type="hidden" name="handling_amount" value="0" />
            <input type="hidden" name="payment_gross" value="30.00" />
            <input type="hidden" name="shipping" value="0.00" />
            <input type="hidden" name="custom" value="2" />
            <input type='submit' />
    </form>
</div>
